<?php

namespace App\Http\Requests\{{ manifest.prefijo_studly }}\{{ manifest.modulo_studly }};

use App\Http\Requests\{{ manifest.prefijo_studly }}\Traits\{{ manifest.modulo_studly }}\Validates{{ manifest.modulo_studly }};
use Illuminate\Foundation\Http\FormRequest;

class Store{{ manifest.modulo_studly }}Request extends FormRequest
{
    use Validates{{ manifest.modulo_studly }};

    // authorize() decide si el usuario tiene permiso de hacer este request.
    // Retornar true = permitido para todos los autenticados.
    public function authorize(): bool
    {
        return true;
    }

    public function rules(): array
    {
        return array_merge(
            $this->getRelacionesRules(),
            [
{% for f in non_fk_fields %}
                '{{ f.name }}' => '{{ f.store_rule_final }}',
{% endfor %}
            ]
        );
    }

    public function messages(): array
    {
        return array_merge(
            $this->getRelacionesMensajes(),
            [
{% for f in required_fields %}
                '{{ f.name }}.required' => 'El campo {{ f.name }} es requerido',
{% endfor %}
{% for f in unique_fields %}
                '{{ f.name }}.unique' => 'El valor de {{ f.name }} ya existe',
{% endfor %}
            ]
        );
    }
}
